.navbar1{
		background-color: white;
		color: black;
		height: 50px;

	}
.navbar1 h2{
		display: inline-block;
		margin: 8px;
		font-family: 'Fondamento', cursive;

	}
.navbar2{
		background-color: white;
		color: black;
		height: 50px;
		box-shadow: 3px 3px 3px #000;
		position: sticky;
		top: 0px;
	}

.navbar2 li {
		display: inline-block;
		padding-right: 40px;
		font-family: 'Fondamento', cursive;
		font-size: 18px;
		margin: 8px;
		margin-top: 10px;


	}
.navbar2 a{
		text-decoration: none;
		color: black;
	}
.navbar2 a:hover{
		color: #00a65a;
	}

.container{
		max-width: 100%;
		padding: 5px;
	}

.container1{
		display: inline-block;
		height: 1200px;
		width: 65%;
		background-color: white;
		margin-top: 15px;
		margin-left: 50px;
		overflow-y: scroll;
	}

.container1 p{

		padding: 40px;
		font-family: 'Fondamento', cursive;
		font-size: 20px;
		text-align: justify;


	}
.container2{
		
		display: inline-block;
		width: 25%;
		height: 450px;
		background-color: white;
		margin: 15px;
		position: fixed;
		
	}
.btn{
		width: 100%;
		max-width:500px;
		color:white;
		background-color: #00a65a;
		
		margin-top:30px;
		border:none;
		height: 40px;
		position:relative;
  		bottom:-400px;
  		font-size: 18px;
  		cursor: pointer;
  		outline: none;

	}
.btn:hover{
		background-color: #008f4d;
	}
	